.container-artwork-url {
  width: 400px;
  height: auto;
  padding: 0.5rem 0.5rem;
  margin-bottom: 3rem;
}

.artwork-image {
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  position: center;
}

.artwork-image:hover {
  opacity: 0.6;
}

.home-description-bottom {
  padding-bottom: 10rem;
}

.artwork-description {
  padding: 0.5rem 0.5rem;
  border: 0.5px solid whitesmoke;
  background: whitesmoke;
  border-radius: 5px;
  color: black;
}

.des-first {
  margin-bottom: 0.5rem;
}

.artwork-description-title {
  color: blue;
}

/* artworks css */
.container-artworks {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

/* artwork bid css starts */
.container-artworkbid {
  margin: auto;
  width: 600px;
}

.artworkbid-image {
  margin-top: 0.2rem;
  width: 100%;
  max-width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  position: center;
}

.date-created {
  color: #020c13f5;
  margin: 1rem 0rem;
}

.bid-container {
  margin: 4rem 0rem;
  padding-bottom: 2rem;
}

.minimum-bid {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.9rem 2rem;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  color: red;
  background: whitesmoke;
}

.bid-message-success {
  font-size: 1.5em;
  color: blue;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 14px;
}

.bid-message-failed {
  font-size: 1.5em;
  color: red;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 14px;
}

.table-container {
  margin-bottom: 2rem;
}
.btn-art {
  float: right;
  width: 200px;
  margin: 3rem 0rem 3rem 0rem;
  padding: 1rem 2rem;
  color: white;
  border-radius: 4px;
  background: rgb(167, 5, 5);
  border: none;
}

.btn-art:hover {
  background: rgb(245, 20, 20);
  color: white;
}

.preload-artwork-container {
  width: 50vw;
  margin: 2rem auto;
}

.preloading {
  background-color: gainsboro;
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
  height: 60vh;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  position: center;
}

.preloading-bottom {
  background-color: gainsboro;
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
  height: 20vh;
  background-repeat: no-repeat;
  position: center;
}

@media screen and (max-width: 768px) {
  .container-artworkbid {
    width: 400px;
    margin: none;
  }

  .bid-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
    margin: 2rem 0rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .container-artworkbid {
    width: 95%;
    margin: auto;
  }

  .bid-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
    /* margin: 2rem 0.2rem; */
    padding-bottom: 2rem;
  }
}
