:root {
  --color-grey-dark: hsl(211, 14, 23);
  --color-grey-normal: rgb(122, 134, 145);
  --color-grey-special: rgb(47, 79, 79);
  --color-grey-light: rgb(193, 196, 206);
  --color-grey-background: rgb(232, 233, 238);
  --color-blue-dark: #141e79f5;
  --color-blue-special: #020c13f5;
  --color-blue-light: rgb(171, 171, 204);
  --color-blue-lite: rgb(188, 188, 228);
  --color-white-light: rgb(255, 255, 255);
  --color-white-dark: rgb(245, 245, 245);

  /* font size */
  --fontSize-small: 12px;
  --fontSize-medium: 14px;
  --fontSize-large: 16px;
  --fontSize-xlarge: 18px;
  --fontSize-xxlarge: 20px;
  --fontSize-title: 30px;
  --fontSize-xtitle: 48px;

  /* font width */
  --fontWeight-light: 300;
  --fontWeight-regular: 400;
  --fontWeight-medium: 600;
  --fontWeight-bold: 700;

  /* --padding- */
  --padding-vvsmall: 4px;
  --padding-vsmall: 8px;
  --padding-small: 24px;
  --padding-medium: 48px;
  --padding-large: 64px;
  --padding-xlarge: 96px;

  /* margin */
  --margin-vvsmall: 4px;
  --margin-vsmall: 8px;
  --margin-small: 24px;
  --margin-medium: 48px;
  --margin-large: 64px;
  --margin-xlarge: 96px;

  /* line-height */
  --lineHeight-small: 1;
  --lineHeight-medium: 1.5;
  --lineHeight-large: 2;

  /* box shadow */
  --boxShadow-light: 0 3px 6px hsla(0, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0.15);
  --boxShadow-medium: 0 10px 20px hsla(0, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0.1);
  --boxShadow-dark: 0 15px 25px hsla(0, 0%, 0.15), 0 5px 10px hsla(0, 0%, 0.5);
  --boxShadow-xdark: 0 20px 40px hsla(0, 0%, 0.2);

  --borderRadius-small: 5px;
  --borderRadius-medium: 10px;
  --borderRadius-large: 50%;
  --borderTop-width: 10px;
}

/* artworks css */
.container-artworks {
  background-color: var(--color-white-light);
}

.sp-artworks {
  position: fixed;
  margin-top: 30vh;
}

.spinner-artwork {
  margin-top: 30vh;
}

.container-artworks-main {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.artworks-available-bid {
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-medium);
  margin-left: var(--margin-xlarge);
  color: var(--color-blue-light);
  font-size: var(--fontSize-large);
  font-weight: var(--fontWeight-bold);
}

/* artwork css */
.container-artwork-url {
  width: 400px;
  height: auto;
  overflow: hidden;
  border-radius: var(--borderRadius-small);
  background-color: var(--color-grey-background);
  padding-top: var(--padding-medium);
  padding-bottom: var(--padding-medium);
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
  box-shadow: var(--boxShadow-medium);
  margin-bottom: var(--margin-large);
}

.container-artwork-url:hover {
  box-shadow: var(--boxShadow-xdark);
}

.artwork-image {
  border-radius: var(--borderRadius-small);
  max-width: 100%;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  position: center;
}

.artwork-image:hover {
  opacity: 0.6;
}

.artwork-title {
  color: var(--color-blue-dark);
  font-size: var(--fontSize-xlarge);
  font-weight: var(--fontWeight-medium);
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-vsmall);
}

.artwork-description {
  color: var(--color-blue-light);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.artwork-description:hover {
  text-overflow: initial;
  white-space: initial;
  display: inline-block;
}

/* artwork bid css starts */
.container-artworkbid {
  background-color: var(--color-white-light);
  /* margin: auto; */
  /* width: 600px; */
}

.bid-name-title {
  font-size: var(--fontSize-xlarge);
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-medium);
  color: var(--color-grey-light);
  margin-left: var(--margin-xlarge);
}

.bid-name {
  color: var(--color-grey-special);
  font-weight: var(--fontWeight-bold);
}

.container-artworkbid-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  border: 1px solid red;
  margin: auto;
  /* margin-left: var(--margin-xlarge); */
}

.artworkbid-image {
  width: 500px;
  max-width: 100%;
  height: 400px;
  background-color: var(--color-grey-light);
  background-repeat: no-repeat;
  position: center;
  border-radius: var(--borderRadius-medium);
}

/* .bid-container {
  width: 500px;
  margin: 4rem 0rem;
  padding-bottom: 2rem;
} */

.bid-container-1-1 {
  border-radius: var(--boxShadow-dark);
  border-radius: var(--borderRadius-medium);
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-large);
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);
  background-color: var(--color-grey-special);
  width: 400px;
  box-shadow: var(--boxShadow-xdark);
  border: 1px solid red;
}

.bid-description {
  font-size: var(--fontSize-large);
  font-weight: var(--fontWeight-bold);
  margin-bottom: var(--padding-medium);
  color: var(--color-blue-light);
}

.bid-container-1 {
  /* border-top-style: solid;
  border-top-width: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.bid-title {
  font-size: var(--fontSize-large);
  font-weight: var(--fontWeight-regular);
  color: var(--color-blue-special);
}

.bid-amount {
  font-size: var(--fontSize-xtitle);
  font-weight: var(--fontWeight-bold);
  color: var(--color-blue-dark);
}

.minimum-bid {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.9rem 2rem;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  color: red;
  background: whitesmoke;
}

.bid-message-success {
  font-size: 1.5em;
  color: blue;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 14px;
}

.bid-message-failed {
  font-size: 1.5em;
  color: red;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 14px;
}

.table-container {
  margin-bottom: 2rem;
}
.btn-artworkbid {
  width: 100%;
  color: var(--color-blue-special);
  border-radius: var(--borderRadius-small);
  background: var(--color-blue-lite);
  border: none;
}
.btn-artworkbid:hover {
  background: var(--color-blue-light);
  color: var(--color-blue-special);
}

.preload-artwork-container {
  width: 50vw;
  margin: 2rem auto;
}

.preloading {
  background-color: gainsboro;
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
  height: 60vh;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  position: center;
}

.preloading-bottom {
  background-color: gainsboro;
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
  height: 20vh;
  background-repeat: no-repeat;
  position: center;
}

.artworkbid-table {
  width: 1000px;
  /* width: 500px; */
  border: 1px solid red;
  margin: auto;
}

.artwork-table-1 {
  width: 500px;
}

@media screen and (max-width: 1026px) {
  .container-artworkbid-content {
    width: 950px;
    margin: auto;
    flex-wrap: wrap;
  }

  .artworkbid-table {
    width: 950px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .container-artworkbid-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 740px;
    margin: auto;
  }

  .artworkbid-image {
    width: 400px;
    max-width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    position: center;
    border-radius: var(--borderRadius-medium);
  }

  .bid-container-1-1 {
    border-radius: var(--boxShadow-dark);
    border-radius: var(--borderRadius-medium);
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-medium);
    padding-left: var(--padding-vsmall);
    padding-right: var(--padding-vsmall);
    width: 300px;
    box-shadow: var(--boxShadow-xdark);
  }

  .form-bid {
    width: 150px;
  }

  .artworkbid-table {
    width: 740px;
    margin: auto;
  }

  .artwork-table-1 {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .container-artworkbid-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
    margin: auto;
  }

  .artworkbid-image {
    width: 300px;
    max-width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    margin-bottom: var(--margin-medium);
    position: center;
    border-radius: var(--borderRadius-medium);
  }

  .artworkbid-table {
    width: 300px;
    margin: auto;
  }

  .artwork-table-1 {
    width: 300px;
  }
}
