.form-container {
  /* margin: 2rem 30rem; */

  margin-top: 4rem;
  /* border: 2px solid red; */
  padding: 1rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-container-items:first-child {
  flex: 6;
  /* border: 2px solid green; */
  background-color: white;
  padding: 1rem 1rem;
  margin-bottom: 5rem;
  text-align: center;
}

.form-container-items {
  flex: 5;
  padding: 1rem 1rem;
  background-color: whitesmoke;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.form {
  border: 2px solid whitesmoke;
  display: flex;
  flex-direction: row;
}

.btn-default {
  float: right;
  padding: 0.7rem 1rem;
  background: rgb(85, 7, 7);
  border-radius: 5px;
  border: none;
  margin: 3rem 2rem 2rem 0;
  color: white;
}

.art-logo {
  width: 40%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1366px) {
  .form-container {
    margin-top: 4rem;
    /* border: 2px solid red; */
    padding: 1rem 5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    /* border: 2px solid red; */
    padding: 1rem 1rem;
  }

  .form-container-items:first-child {
    /* border: 2px solid green; */
    background-color: white;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .form-container-items {
    padding: 1rem 1rem;
    background-color: whitesmoke;
    padding: 2rem 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
}

/* @media screen and (max-width: 600px) {
  .form-container {
    margin: 2rem 2rem;
    padding: 2rem 2rem;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
  }
} */
