.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

.form-container-items {
  display: block;
}

.form-container-items {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
}

.form-container-items-content {
  display: flex;
  justify-content: center;
}

.form-box {
  width: 300px;
  padding: 2rem 1rem;
  background-color: whitesmoke;
  border-radius: 9px;
  position: relative;
}

.form-box:hover {
  box-shadow: 1px 1px 10px 1px rgb(148, 146, 146);
}

.art-logo {
  position: absolute;
  top: -88px;
  left: 65px;
  width: 200px;
  margin-bottom: 2rem;
}

.btn-default {
  padding: 0.7rem 1rem;
  background: rgb(85, 7, 7);
  border-radius: 5px;
  border: none;
  margin: 2rem 2rem 2rem 0;
  width: 100%;
  color: white;
}

.btn-default:hover {
  background: rgb(168, 17, 17);
}
