.form-container {
  text-align: center;
  margin-top: 2rem;
}

.form-bid {
  color: rgb(85, 7, 10);
}

.form-container-items {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
}

.form-container-items-content {
  display: flex;
  justify-content: center;
}

.form-box {
  width: 300px;
  padding: 2rem 1rem;
  background-color: whitesmoke;
  border-radius: 9px;
  position: relative;
}

.form-box:hover {
  box-shadow: 1px 1px 10px 1px rgb(148, 146, 146);
}

.art-logo {
  position: absolute;
  top: -88px;
  left: 55px;
  width: 200px;
  margin-bottom: 2rem;
}

.btn-default {
  padding: 0.7rem 1rem;
  background: rgb(85, 7, 7);
  border-radius: 5px;
  border: none;
  margin: 2rem 2rem 2rem 0;
  width: 100%;
  color: white;
  position: relative;
}

/* .btn-default:hover {
  background: rgb(168, 17, 17);
} */

.btn-default-progress {
  position: absolute;
  top: 8px;
  left: 140px;
}

@media screen and (max-width: 820px) {
  .form-container {
    font-size: 0.8em;
  }

  .form-box {
    width: 250px;
  }

  .art-logo {
    position: absolute;
    top: -88px;
    left: 28px;
    width: 200px;
    margin-bottom: 2rem;
  }

  .btn-default-progress {
    position: absolute;
    top: 8px;
    left: 100px;
  }
}

@media screen and (max-width: 568px) {
  .form-box {
    width: 220px;
  }
}
