:root {
  --color-grey-dark: hsl(211, 14, 23);
  --color-grey-normal: rgb(122, 134, 145);
  --color-grey-special: rgb(47, 79, 79);
  --color-grey-light: rgb(193, 196, 206);
  --color-grey-background: rgb(232, 233, 238);
  --color-blue-dark: #141e79f5;
  --color-blue-background: #91a5e5f5;
  --color-blue-xspecial: #48535ef5;
  --color-blue-special: #020c13f5;
  --color-blue-light: rgb(171, 171, 204);
  --color-blue-lite: rgb(188, 188, 228);
  --color-white-light: rgb(255, 255, 255);
  --color-white-dark: rgb(245, 245, 245);
  --color-red-dark: rgb(49, 6, 6);

  /* font size */
  --fontSize-small: 12px;
  --fontSize-medium: 14px;
  --fontSize-large: 16px;
  --fontSize-xlarge: 18px;
  --fontSize-xxlarge: 20px;
  --fontSize-title: 30px;
  --fontSize-xtitle: 48px;

  /* font width */
  --fontWeight-light: 300;
  --fontWeight-regular: 400;
  --fontWeight-medium: 600;
  --fontWeight-bold: 700;

  /* --padding- */
  --padding-vvsmall: 4px;
  --padding-vsmall: 8px;
  --padding-small: 24px;
  --padding-medium: 48px;
  --padding-large: 64px;
  --padding-xlarge: 96px;

  /* margin */
  --margin-vvsmall: 4px;
  --margin-vsmall: 8px;
  --margin-small: 24px;
  --margin-medium: 48px;
  --margin-large: 64px;
  --margin-xlarge: 96px;

  /* line-height */
  --lineHeight-small: 1;
  --lineHeight-medium: 1.5;
  --lineHeight-large: 2;

  /* box shadow */
  --boxShadow-light: 0 3px 6px hsla(0, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0.15);
  --boxShadow-medium: 0 10px 20px hsla(0, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0.1);
  --boxShadow-dark: 0 15px 25px hsla(0, 0%, 0.15), 0 5px 10px hsla(0, 0%, 0.5);
  --boxShadow-xdark: 0 20px 40px hsla(0, 0%, 0.2);

  --borderRadius-small: 5px;
  --borderRadius-medium: 10px;
  --borderRadius-large: 50%;
  --borderTop-width: 10px;
}

.add-myartwork-form {
  display: block;
  padding: var(--padding-vsmall);
  white-space: pre-line;
  background-color: var(--color-white-dark);
}

.container-createartwork-input {
  margin-top: var(--margin-small);
}

.progress-bar-1 {
  width: 100%;
}

.progress-bar {
  width: 100%;
  margin-bottom: var(--margin-vsmall);
}

.myartwork-label {
  color: var(--color-grey-normal);
}

.createartwork-input {
  width: 100%;
  height: 4vh;
  border-color: var(--color-grey-light);
  border-width: 1px;
  border-style: solid;
  /* border: 1px solid rgb(139, 138, 138); */
}

.description {
  height: 7vh;
}

.change-btn {
  width: 100%;
  margin-top: var(--margin-small);
  background-color: var(--color-blue-light);
}

.myartwork {
  /* position: relative; */
  border: 0.5 solid red;
}

.myartworks-fetching {
  width: 100%;
  text-align: center;
}

.add-myartwork {
  border: none;
  position: fixed;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 2rem;
  color: #020c13f5;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  /* width: 80px; */
  background-color: rgb(215, 216, 132);
  z-index: 1;
  box-shadow: 1px 1px 10px 1px rgb(148, 146, 146);
}

/* leave this for now */
/* this are the image size and the artwork size */
.container-myartwork {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.container-myartwork-url,
.myartwork-url {
  width: 400px;
  height: auto;
  padding: 0.5rem 0.5rem;
  margin-bottom: 3rem;
}

.myartwork-delete-card {
  background-color: var(--color-blue-lite);
  color: var(--color-white-light);
  padding: var(--padding-medium);
  width: 300px;
  box-shadow: var(--boxShadow-xdark);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin-large);
  border-radius: var(--borderRadius-medium);
}

.btn-delete-art {
  border-radius: var(--borderRadius-medium);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-red-dark);
  color: var(--color-red-dark);
  /* background-color: var(--color-blue-dark); */
}

@media screen and (max-width: 768px) {
  /* leave this for now */
  /* this are the image size and the artwork size */
  .container-myartwork-url,
  .myartwork-url {
    width: 400px;
    height: auto;
    padding: 0.5rem 0.5rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 500px) {
  /* leave this for now */
  /* this are the image size and the artwork size */
  .container-myartwork-url,
  .myartwork-url {
    width: 95%;
    /* height: auto; */
    margin: auto;
  }
}
