.profile-container {
  width: 300px;
  margin: 2rem auto;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 1rem 1rem;
}

.profile-image-none {
  font-size: 7em;
  color: #020c13f5;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
}

.image-placeholder {
  position: fixed;
  font-size: 150px;
  left: 0;
  right: 0;
  z-index: -1;
}

.pencil {
  position: relative;
  bottom: 2rem;
  font-size: 1.3em;
  color: rgb(11, 11, 58);
  margin-left: 10rem;
}

.profile-container-item {
  padding: 0.5rem 0;
}

.profile-username {
  font-size: 1.3em;
}

.profile-btn {
  width: 100px;
  padding: 0.5rem 0.5rem;
  background: rgb(85, 7, 7);
  border-radius: 5px;
  border: none;
  color: white;
}

.preloading-profile {
  width: 300px;
  margin: 2rem auto;
  text-align: center;
  border-radius: 6px;
  padding: 1rem 1rem;
  background-color: gainsboro;
  height: 80vh;
}

.container-profile-input {
  margin-bottom: 1rem;
}

.profile-label {
  float: left;
}

.profile-input {
  width: 100%;
  height: 3vh;
  border: 1px solid #020c13f5;
}

@media screen and (max-width: 680px) {
  .profile-container {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 1rem 0.5rem;
  }

  .preloading-profile {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    background-color: gainsboro;
    border-radius: 6px;
    padding: 1rem 0.5rem;
  }
}
