:root {
  --color-grey-dark: hsl(211, 14, 23);
  --color-grey-normal: rgb(122, 134, 145);
  --color-grey-special: rgb(47, 79, 79);
  --color-grey-light: rgb(193, 196, 206);
  --color-grey-background: rgb(232, 233, 238);
  --color-blue-dark: #141e79f5;
  --color-blue-background: #91a5e5f5;
  --color-blue-xspecial: #48535ef5;
  --color-blue-special: #020c13f5;
  --color-blue-light: rgb(171, 171, 204);
  --color-blue-lite: rgb(188, 188, 228);
  --color-white-light: rgb(255, 255, 255);
  --color-white-dark: rgb(245, 245, 245);

  /* font size */
  --fontSize-small: 12px;
  --fontSize-medium: 14px;
  --fontSize-large: 16px;
  --fontSize-xlarge: 18px;
  --fontSize-xxlarge: 20px;
  --fontSize-title: 30px;
  --fontSize-xtitle: 48px;

  /* font width */
  --fontWeight-light: 300;
  --fontWeight-regular: 400;
  --fontWeight-medium: 600;
  --fontWeight-bold: 700;

  /* --padding- */
  --padding-vvsmall: 4px;
  --padding-vsmall: 8px;
  --padding-small: 24px;
  --padding-medium: 48px;
  --padding-large: 64px;
  --padding-xlarge: 96px;

  /* margin */
  --margin-vvsmall: 4px;
  --margin-vsmall: 8px;
  --margin-small: 24px;
  --margin-medium: 48px;
  --margin-large: 64px;
  --margin-xlarge: 96px;

  /* line-height */
  --lineHeight-small: 1;
  --lineHeight-medium: 1.5;
  --lineHeight-large: 2;

  /* box shadow */
  --boxShadow-light: 0 3px 6px hsla(0, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0.15);
  --boxShadow-medium: 0 10px 20px hsla(0, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0.1);
  --boxShadow-dark: 0 15px 25px hsla(0, 0%, 0.15), 0 5px 10px hsla(0, 0%, 0.5);
  --boxShadow-xdark: 0 20px 40px hsla(0, 0%, 0.2);

  --borderRadius-small: 5px;
  --borderRadius-medium: 10px;
  --borderRadius-large: 50%;
  --borderTop-width: 10px;
}

.user-spinner {
  margin-top: 25vh;
  width: 100%;
  text-align: center;
}

.profile-container {
  width: 300px;
  margin-top: var(--margin-large);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--color-blue-special);
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--boxShadow-xdark);
  padding: var(--padding-medium);
  color: var(--color-blue-background);
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--color-grey-light);
  box-shadow: var(--boxShadow-xdark);
}

.profile-container-item {
  padding: var(--padding-vsmall);
  font-size: var(--fontSize-medium);
}

.profile-username {
  margin-top: var(--margin-vsmall);
  font-size: var(--fontSize-xlarge);
}

.profile-btn {
  margin-top: var(--padding-medium);
  background: var(--color-blue-lite);
  color: var(--color-blue-special);
  box-shadow: var(--boxShadow-xdark);
}

.profile-btn:hover {
  background-color: var(--color-blue-light);
}

.preloading-profile {
  width: 300px;
  margin: 2rem auto;
  text-align: center;
  border-radius: 6px;
  padding: 1rem 1rem;
  background-color: gainsboro;
  height: 80vh;
}

.pencil {
  /* font-size: 1.3em; */
  cursor: pointer;
  font-size: var(--fontSize-large);
  color: var(--color-blue-background);
  margin-left: 150px;
}

.container-profile-input {
  margin-bottom: var(--margin-vsmall);
  /* border: 1px solid red; */
}

.profile-first-input {
  margin-top: var(--margin-vsmall);
}

.profile-label {
  float: left;
  margin-bottom: var(--padding-vvsmall);
  color: var(--color-blue-xspecial);
}

.profile-input {
  width: 100%;
  height: 4vh;
  background-color: var(--color-blue-lite);
  color: var(--color-blue-special);
  font-weight: var(--fontWeight-bold);
  border: 1px solid #020c13f5;
}

@media screen and (max-width: 680px) {
  .profile-container {
    width: 90%;
  }

  .preloading-profile {
    width: 90%;
  }
}
